body {
  font-family: 'Baloo Paaji 2', cursive;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.title{
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  font-weight: bold;
}

.background {
  background-color: #deeaee;
  margin-top: 50px;
  padding: 10px;
}

.background-log-reg {
  margin-top: 50px;
  padding: 10px;
}

.footer {
    padding: 0.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
